*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    line-height: 1.6;
    font-style: italic;
}